
<head>
<title>Book &mdash; Free Website </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" th:href="@{~/images/ftco-32x32.png}">
    
    <link rel="stylesheet" th:href="@{~/css/custom-bs.css}" />
    <link rel="stylesheet" th:href="@{~/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{~/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{~/fonts/line-icons/style.css}">
    <link rel="stylesheet" th:href="@{~/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{~/css/animate.min.css}">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> 

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{~/css/style.css}">  

</head>
