
    <section class="home-section section-hero overlay bg-image" th:style="'background-image: url('+ @{~/images/hero_1.jpg} +');'" id="home-section">
    <!-- HOME -->

     <div class="container">
      
      
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
             <h1 class="text-white font-weight-bold">Cách dễ nhất để tìm sách</h1>
            </div>
            <form method="post" class="search-jobs-form" >
              <div align="center">
                <div >
            
                  <input type="text"  id ="namebook" class="form-control form-control-lg" placeholder="Tên sách,truyện..." name="TenSach">
                </div>
                <br/>
                
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Tìm sách</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Từ khóa:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a href="#" class="">Nguyễn Nhật Ánh</a></li>
                    <li><a href="#" class="">Mac-Lenin</a></li>
                    <li><a href="#" class="">Hồi ký</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
         
      </div>
      <div id="kqtimsach"></div>
      <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
     

    </section>
 