
<div th:replace="partials/headermn"></div>
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>New Book</h1>  
    <div class="col-md-auto">  
        <form th:object="${us}" th:action="@{save}" action="#" method="post">  
            <div>  
                <label th:text="Book Name" th:for="name"></label>  
                <input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>  
            </div>  
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:text="Id_author" th:for="id_authorl"></label>  
                <input type="text" th:field="*{id_author}" class="form-control" placeholder="id_author"/>  
            </div>  
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:text="Id_publisher" th:for="id_publisher"></label>  
                <input type="text" th:field="*{id_publisher}" class="form-control" placeholder="id_publisher"/>  
            </div>  
            <div>  
                <label th:text="Type" th:for="type"></label>  
                <input type="text" th:field="*{type}" class="form-control" placeholder="type"/>  
            </div> 
            <div>  
                <label th:text="Number" th:for="number"></label>  
                <input type="text" th:field="*{number}" class="form-control" placeholder="number"/>  
            </div> 
            <div>  
                <label th:text="Image" th:for="image"></label>  
                <input type="text" th:field="*{image}" class="form-control" placeholder="image"/>  
            </div> 
            <div style="clear: both; display: block; height: 10px"></div>  
            <input type="submit" class="btn btn-success" value="Save"/>  
        </form>  
    </div>  
</div>  
<div th:replace="partials/footer"></div>