<div th:replace="partials/headerus"></div>

<section class="site-section" id="next-section">
	<div class="container">

		<div class="row mb-5 justify-content-center">
			<div class="col-md-12 text-center">
				<h2 class="section-title mb-2">Mục sách</h2>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Hình</th>
							<th>Tên Sách</th>
						</tr>
					</thead>
					<tbody>

						<th:block th:if="${#lists.isEmpty(sachs.pageList)}">
							<h3>No employee</h3>
						</th:block>

						<th:block th:unless="${#lists.isEmpty(sachs.pageList)}">
							<tr th:each="contact: ${sachs.pageList}">

								<td><img width="200px" height="200px"
									th:src="@{/{url}(url=${contact.image})}" /></td>

								<td align="center"><a
									th:href="@{/chitiet?id={id}(id=${contact.id})}"
									th:text="${contact.bookname}">..</a></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>

		<table class="pagination">

			<tr>
				<td th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
					th:class="${item == currentIndex ? 'page-item active' :'page-item'} ">
					<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
						th:text='${item}'>1</span>
				</a>
				</td>

			</tr>
		</table>


	</div>
	<div class="row pagination-wrap mt-5">
		<div class="col-md-6 text-center text-md-left mb-4 mb-md-0"></div>



	</div>
</section>
<div th:replace="partials/footer"></div>
