<div th:replace="partials/header"></div>
<div class="container">  
    <h1 align="center">Quản Lý Sách</h1>  
    <table class="table table-active">  
        <tr>  
             <th>Hình</th>  
            <th>Id</th>  
            <th>Tên Sách</th>  
            <th>Thể Loại</th>  
            <th>Mã Nhà Xuất Bản</th> 
            <th>Mã Tác Giả</th> 
             <th>Số Lượng</th>   
              
        </tr>  
        <tr th:each="us : ${books}">  
              <td><img width="100" height="100" th:src="${us.image}"/></td>  
            <td th:text="${us.id}"></td>  
            <td th:text="${us.bookname}"></td>  
            <td th:text="${us.type}"></td>  
            <td th:text="${us.idauthor}"></td>  
            <td th:text="${us.idpublisher}"></td>  
            <td th:text="${us.number}"></td> 
            <td>  
                <a th:href="@{/edit?id={id}(id=${us.id})}" class="btn btn-primary">Edit</a>  
                <a th:href="@{/delete?id={id}(id=${us.id})}" class="btn btn-danger">Delete</a>  
            </td>  
        </tr>  
    </table>  
    <a href="/add" class="btn btn-success">Add Book</a>  
   
</div>  
<div th:replace="partials/footer"></div>