<div th:replace="partials/headermn"></div>
<div class="col-3"></div>  
<div class="container col-6">  
    <h1 align="center">Quản Lý Tác Giả</h1>  
    <table class="table table-active">  
        <tr>  
              
            <th>Id</th>  
            <th>Tên Tác Giả</th>  
            
              
        </tr>  
        <tr th:each="us : ${authors}">  
            
            <td th:text="${us.id}"></td>  
            <td th:text="${us.authorname}"></td>  
            
            <td>  
                <a th:href="@{/editauthor?id={id}(id=${us.id})}" class="btn btn-primary">Edit</a>  
                <a th:href="@{/deleteauthor?id={id}(id=${us.id})}" class="btn btn-danger">Delete</a>  
            </td>  
        </tr>  
    </table>  
    <a href="/addauthor" class="btn btn-success">Add Author</a>  
</div>  
<div th:replace="partials/footer"></div>