 <div th:replace="partials/headermn"></div> 
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Edit Book</h1>  
    <form th:object="${us}" th:action="@{save}" action="#" method="post">  
        <input type="hidden" th:field="*{id}">  
        <div>  
                <label  th:for="idauthor">Mã tác giả</label>  
                <input  type="text" th:name="author" id="text1" th:field="*{idauthor}" th:value="*{idauthor}" class="form-control" placeholder="id_publisher"/>  
            </div> 
            <div>  
                <label  th:for="idpublisher">Mã nhà xuất bản</label>  
                <input type="text"  th:name="publisher" th:field="*{idpublisher}" class="form-control" placeholder="id_publisher"/>  
            </div>  
             <div>  
                <label  th:for="bookname">Tên sách</label>  
                <input type="text" th:field="*{bookname}" class="form-control" placeholder="bookname"/>  
            </div> 
            <div>  
                <label th:for="type">Loại</label>  
                <input type="text" th:field="*{type}" class="form-control" placeholder="type"/>  
            </div> 
            <div>  
                <label  th:for="number">Số lượng</label>  
                <input type="text" th:field="*{number}" class="form-control" placeholder="number"/>  
            </div> 
            <div>  
                <label  th:for="image">Hình</label>  
                <br>
                <input type="file" th:field="*{image}"  />  
            </div> 
            <div style="clear: both; display: block; height: 10px"></div>  
            <input type="submit" class="btn btn-success" value="Save"/>  
    </form>  
</div>  
<div th:replace="partials/footer"></div>

