<div th:replace="partials/headerus"></div>
<section class="site-section" id="next-section">
	<div class="container">

		<div class="row mb-5 justify-content-center">
			<div class="col-md-12 text-center">
				<h2 class="section-title mb-2">Kết Quả</h2>

				<table class="table table-bordered table-hover">
					<thead>
						<!--  <tr  th:each="element : ${session.booklist}">-->
						    <th:block th:if="${session.booklist!=null}">
						    <tr>
							  <th>Hình</th>
							  <th>Tên Sách</th>
							  </tr>
						  </th:block>
							
						<!--  </tr>-->
					</thead>
					<tbody>
				         <th:block th:if="${session.booklist!=null}"> 
                            <tr class="cart_items" th:each="element : ${session.booklist}">
                                <th:block th:if="${element.id!=0}">
							<td><a class="product-image" href="javascript:;" title="Product 2"><img width="200px" height="200px" th:src="@{|~/${element.image}|}" /></a></td>
							
							<td align="center"><a
									th:href="@{/chitiet?id={id}(id=${element.id})}"
									th:text="${element.bookname}">..</a></td>
						 </th:block>
						 	
							
							
							
						  
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>

		

	</div>
	<div class="row pagination-wrap mt-5">
		<div class="col-md-6 text-center text-md-left mb-4 mb-md-0"></div>



	</div>
</section>

<div th:replace="partials/footer"></div>