 <div th:replace="partials/headermn"></div>
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Add Publisher</h1>  
    <form th:object="${us}" th:action="@{/savepub}" action="#" method="post">  
        
            <div>  
                <label  th:for="publishername">Tên nhà xuất bản</label>  
                <input type="text" th:field="*{publishername}" class="form-control" placeholder="publishername"/>  
            </div>  
              
            <div style="clear: both; display: block; height: 10px"></div>  
            <input type="submit" class="btn btn-success" value="Save"/>  
    </form>  
</div>  
<div th:replace="partials/footer"></div>